# Ignore all __pycache__ directories
__pycache__/

# Ignore db_config.json specifically in the db directory
db/db_config.json

# Ignore all files in the logs directory
logs/*

# Ignore the specific files
output_filename.pdf
output_filename

*.py[cod]
__pycache__/
.DS_Store
results/
Banknote.csv
Banknote_shuf.csv
.idea/
src/python_log.txt